.cf:before, .cf:after {
    content: "";
    display: table;
  }
  
  .cf:after {
    clear: both;
  }
  
  .cf {
    zoom: 1;
  }
  nav {
    height: 40px;
    width: 100%;
    background-color: #333;
    color: #eee;
    position: fixed;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    display: inline;
    float: left;
}
nav a {
    display: inline-block;
    width: 150px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
    text-decoration: none;
}
nav li:hover {
    background-color: #444;
}
nav a#openup {
    display: none;
}

.section {
    /* padding: 2rem 0; */
    text-align: center;
}

.section-head {
    font-size: 2.5rem;
    margin: 0;
}

.section h1 {
    font-size: 2.5rem;
}

.section h3 {
    font-size: 1.5rem;
}

.admin {
    padding-top: 5vh;

}

.bg-dark {
    background: #333;
    color: #eee;

}

.bg-light {
    background: #eee;
    color: #333;

}

.sec {
    padding: 5px;
}

.center {
    text-align: center;
}

footer {
    padding: 2.2rem;
}

.showcase {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.showcase::before {
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url('./img/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    
}

.section-main {
    display: none;
    margin-top: 5vh;
    text-align: center;

}

.show-on-small {
    display: block;
}

.mobile-title {
    text-align: center;
}

.mobile-title h1 {
    margin: 0;
    padding-top: 2rem;
}

.mobile-title p {
    margin: 0;
    padding: 0;
}

a.subSection-button {
    display:inline-block;
    padding:0.35em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}

a.btn-light{
    border:0.1em solid #333;
    color:#333;
}
a.btn-light:hover{
    color:#eee;
    background-color:#333;
}

a.btn-dark{
    border:0.1em solid #eee;
    color:#eee;
}
a.btn-dark:hover{
    color:#333;
    background-color:#eee;
}

@media(max-width: 1490px) {

    .section-main {
        display: block;
        margin-top: 25vh;

    }
    .show-on-small {
        display: none;
    }
}

@media(max-width: 960px) {
    .hide-on-small {
        display: none;
    }
    .show-on-small {
        display: block;
        padding: 0;

    }
    .showcase {
        height: 50vh;
    }
    .showcase::before {
        height: 50vh;
    }
}

